# Pinhead configuration file. Duplicate this file from `config.yml.example` to
# `config.yml` and fill in the necessary values below.

# Token for the bot user, from https://discordapp.com/developers/applications/me
# Need to add bot? https://discordapp.com/oauth2/authorize?&client_id=YOUR_CLIENT_ID_HERE&scope=bot&permissions=0
botToken: 'xxx'

pinner:
  # Name of the role who are allowed to pin messages. Leave blank to allow anybody.
  role: pinner

  # Name of the emoji to look for as a reaction, to messages that need pinning
  emoji: superpin

  # Name of the target channel to pin messages to
  channel: memes